@import "compass";

.pane-privacy-share-links {
  ul.links {
    @include reset-box-model;
    @include reset-list-style;
  }
  li {
    padding-left: 24px;
    background-position: left center;
    background-repeat: no-repeat;
    &.facebook {
      background-image: url('http://facebook.com/favicon.ico');
    }

    &.google-plus {
      background-image: url('https://ssl.gstatic.com/images/icons/gplus-16.png');
    }

    &.diaspora {
      background-image: url('http://joindiaspora.com/favicon.ico');
    }

    &.twitter {
      background-image: url('http://twitter.com/favicon.ico');
    }

    &.email {
      background-image: url('../images/email.png');
    }

    &.print {
      background-image: url('../images/printer.png');
    }

    &.identica {
      background-image: url('http://identi.ca/favicon.ico');
    }
  }
  &.inline {
    ul.links {
    }
    li {
      @include float-left;
      margin-right: 1em;
    }
  }
}
