.pane-privacy-share-links ul.links {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
.pane-privacy-share-links li {
  padding-left: 24px;
  background-position: left center;
  background-repeat: no-repeat;
}
.pane-privacy-share-links li.facebook {
  background-image: url("http://facebook.com/favicon.ico");
}
.pane-privacy-share-links li.google-plus {
  background-image: url("https://ssl.gstatic.com/images/icons/gplus-16.png");
}
.pane-privacy-share-links li.diaspora {
  background-image: url("http://joindiaspora.com/favicon.ico");
}
.pane-privacy-share-links li.twitter {
  background-image: url("http://twitter.com/favicon.ico");
}
.pane-privacy-share-links li.email {
  background-image: url("../images/email.png");
}
.pane-privacy-share-links li.print {
  background-image: url("../images/printer.png");
}
.pane-privacy-share-links li.identica {
  background-image: url("http://identi.ca/favicon.ico");
}
.pane-privacy-share-links.inline li {
  display: inline;
  float: left;
  margin-right: 1em;
}
